.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.user_authentication_block {
    width: 80vw;
    aspect-ratio: 3/2;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

.image_detail_block {
    width: 60vw;
    height: 60vw;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

.user_authentication_block > h2 {
    grid-column: span 2;
    text-align: center;
    vertical-align: middle;
}

.image_detail_block > h2 {
    grid-column: span 2;
    text-align: center;
    vertical-align: middle;
}

.image_detail_block > h3 {
    grid-column: span 2;
    text-align: center;
    vertical-align: middle;
}

.image_detail_block > a {
    grid-column: span 2;
    text-align: center;
    vertical-align: middle;
}

.image_detail_block > img {
    grid-column: span 2;
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.image_content {
    width: 90%;
    height: 90%;
}

.image_content > img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

p {
    font-size: 110%;
}

.login_form > input[type=submit] {
    width: 100%;
}

.logout_form {
    grid-column: span 2;
    width: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logout_form > input[type=submit] {
    width: 90%;
    aspect-ratio: 6/1;
}

.main_content {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-template-rows: auto;
    min-height: 100px;
    margin: auto;
    margin-top: 10vh;
    gap: 1%;
}
.main_content > a {
    width: 100%;
}

.image_content {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.to_back {
    margin: 10px;
}

.authentication_content {
    width: auto;
    height: auto;
    padding: 20px;
    display: grid;
    justify-content: end;
}

.authentication_content > h3 {
    text-align: right;
}

.paginator_content {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 50px;
    margin-bottom: 100px;
}