{% extends 'base.html' %}
{% load static %}
{% block title %}Смена логина{% endblock %}
{% block content %}
    <div class="content">
        <div class="user_authentication_block">
            <h2>Смена логина</h2>
            <div class="image_content">
                <img src="{% static 'app/img/django.png' %}" alt="крутой джанга">
            </div>
                <div class="login_form_content">
                    {% if error_message %}
                        {{ error_message }}
                    {% else %}
                        <p>{{ user.get_username }}</p>
                    {% endif %}
                    <form method="post" class="login_form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" value="Сменить логин">
                    </form>
                    <a href="{{ request.META.HTTP_REFERER }}">назад</a>
                </div>
        </div>
    </div>
{% endblock %} 
