{% extends 'base.html' %}
{% load static %}
{% block title %}Ваш пороль успешно изменен{% endblock %}
{% block content %}
    <div class="content">
        <div class="user_authentication_block">
            <h2>Ваш пороль успешно изменен</h2>
            <a href="{% url 'profile' %}">Вернуться назад</a>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" class="logout_form">
                    {% csrf_token %}

                    <input type="submit" value="Выйти">
                </form>
            {% else %}
                <h2>Выход успешно выполнен</h2>
                <a href="{% url 'login' %}">Выполнить вход</a>
                <a href="{% url 'index' %}"> <p>Перейти на главную страницу</p></a>
            {% endif %}
        </div>
    </div>
{% endblock %}