{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
    <div class="content">
        <div class="user_authentication_block">
            <h2>Регистрация</h2>
            <div class="image_content">
                <img src="{% static 'app/img/django.png' %}" alt="крутой джанга">
            </div>
            {% if user.is_authenticated %}
                <div>
                    <p>Вы уже выполнили регистрацию и вход. </p>
                    <a href="{% url 'to_logout' %}">Выполнить выход</a>
                    <a href="{% url 'index' %}"><p>Перейти на главную страницу</p></a>
                </div>
            {% else %}
                <div class="login_form_content">
                    <form method="post" class="login_form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="submit" value="Зарегестрироваться">
                    </form>
                    <a href="{% url 'login' %}">есть аккаунт? войти в аккаунт</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %} 
