{% extends 'base.html' %}
{% load static %}
{% block title %}Картинка{% endblock %}
{% block content %}
    <div class="content">
        <a class="to_back" href="{% url 'index' %}"><p>Вернуться назад</p></a>
        <div class="image_detail_block">
            {% if user.is_authenticated %}
                <h2>{{ imagecontent.title }}</h2>
                <img src="{{ imagecontent.link }}" alt="{{ imagecontent.title }}">
            {% else %}
                <h3>Требуется войти для просмотра контента</h3>
                <a href="{% url 'login' %}"><h3>войти</h3></a>
            {% endif %}
        </div>
    </div>
{% endblock %}


