{% extends 'base.html' %}
{% load static %}
{% block title %}Подтверждение на удаление{% endblock %}
{% block content %}
    <div class="content-detail">
        <a class="to_back" href="{% url 'profile' %}"><p>Вернуться назад</p></a>
        {% if user.is_authenticated %}
            <form action="{% url 'application_delete' pk=application.pk %}" method="post">
                {% csrf_token %}
                {% if application.status == 'n' %}
                    <h1 style="color:red">ВЫ ТОЧНО УВЕРЕНЫ ЧТО ХОТИТЕ УДАЛИТЬ?</h1>
                	<button type="submit" class="delete_comfirm">ДА!ДА!ДА!ДА!ДА!</button>
                    <a href="{% url 'profile' %}" style="color: green">нет(</a>
                {% endif %}
            </form>
            <div class="application-detail">
                <div class="application_title_content"><h3>{{ application.title }}</h3>
                    <p>({{ application.date }})</p>
                </div>
                <div class="application_image_content-detail"><img src="{{ application.image.url }}"
                                                                   alt="{{ application.title }} image">
                </div>
                <div class="application_info">
                    <p>Статус - {{ application.get_status_display }}</p>
                    <p>Категория - {{ application.categories }}</p>
                </div>
                <div class="application-detail-description">
                    <p>Описание - {{ application.description }}</p>
                </div>
                <div class="application-detail-comment">
                    {% if application.comment %}
                        <p>Комментарий - {{ application.comment }}</p>
                    {% else %}
                        <p>нет коментария</p>
                    {% endif %}
                </div>
            </div>

            {% if perms.app.worker %}
                <a href="{% url 'application_change' pk=application.pk %}" class="change">Изменить</a>
            {% endif %}

        {% else %}
            <h3>Требуется войти что бы посмотреть заявку</h3>
            <a href="{% url 'login' %}"><h3>войти</h3></a>
        {% endif %}
    </div>
{% endblock %}


