{% extends 'base.html' %}
{% load static %}
{% block title %}Картинка{% endblock %}
{% block content %}
    <div class="content-detail">
        <a class="to_back" href="{{ request.META.HTTP_REFERER }}"><p>Вернуться назад</p></a>
        <form action="{% url 'application_delete' pk=application.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete">Удалить</button>
        </form>
        {% if user.is_authenticated %}
            <div class="application-detail">
                <div class="application_title_content"><h3>{{ application.title }}</h3>
                    <p>({{ application.date }})</p>
                </div>
                <div class="application_image_content-detail"><img src="{{ application.image.url }}"
                                                            alt="{{ application.title }} image">
                </div>
                <div class="application_info">
                    <p>Статус - {{ application.get_status_display }}</p>
                    <p>Категория - {{ application.get_categories_display }}</p>
                </div>
                <div class="application-detail-description">
                    <p>Описание - {{ application.description }}</p>
                </div>
            </div>
        {% else %}
            <h3>Требуется войти что бы сменить аватарку</h3>
            <a href="{% url 'login' %}"><h3>войти</h3></a>
        {% endif %}
    </div>
{% endblock %}


