{% extends 'base.html' %}
{% load static %}
{% block title %}Правка заявки{% endblock %}
{% block content %}
    <div class="main_container form-page-container">
        <div class="card form-card application-change-card">
            <h2 class="form-title">Редактирование заявки</h2>

            <div class="form-image-preview">
                <img src="{{ application.image.url }}" alt="{{ application.title }} image" class="form-image-img">
            </div>

            <div class="form-content-wrapper">
                {% if error %}
                    <p class="form-error-message">{{ error }}</p>
                {% endif %}

                <form method="post" class="form-django-default" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="btn-submit">Сохранить изменения</button>
                </form>

                <div class="form-footer-actions">
                    <a href="{% url 'profile' %}" class="form-back-link">
                        ← Назад в профиль
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}