{% extends 'base.html' %}
{% load static %}
{% block title %}Правка заказа{% endblock %}
{% block content %}
    <div class="content">
        <div class="user_authentication_block">
            <h2>Правка заявки</h2>
            <div class="image_content">
                <img src="{{ application.image.url }}" alt="{{ application.title }} image">
            </div>
            <div class="login_form_content">
                <p>{{ user.first_name }}</p>
                <form method="post" class="login_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" value="Сохранить">
                </form>
                <a href="{{ request.META.HTTP_REFERER }}">назад</a>
            </div>
        </div>
    </div>
{% endblock %} 
