{% extends "base.html" %}
{% block title %}Работа с категориями{% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        {% if perms.app.worker %}
            <div class="profile_content">
                <div class="top_bar">
                    <h2>Панель работника {{ user.get_username }}</h2>
                    <a href="{% url 'to_logout' %}">выйти из аккаунта</a>
                </div>
                <div class="main_bar">
                    <div class="user_avatar_and_name">
                        <div class="user_avatar">
                            <a href="{% url 'image-list' %}"><img src="{% static 'app/img/' %}{{ profile.avatarlink }}"
                                                                  alt="{{ user.get_username }} avatar"></a>
                        </div>
                        <h3>{{ user.get_username }}</h3>
                    </div>
                </div>
            </div>
            <div class="profile_content">
                <div class="top_bar">
                    <h3>Настройки категорий</h3>
                    <a href="{% url 'profile' %}">В профиль</a>
                </div>
                <div class="main_bar-admin">
                    <ul>
                        <li><a href="{% url 'create_new_category' %}">Создать новую категорию</a></li>
                        <p>Существующие категории:</p>
                        <ul> 
                            {% for category in categories %}
                            	<li><a href="{% url 'categories_delete_change' pk=category.pk %}">{{ category.category_full_name }}</a></li>
                            {% endfor %}

                        </ul>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="content">
            <div class="image_detail_block">
                <h3>У вас нет доступа к данной странице</h3>
                <a href="{% url 'profile' %}"><h3>вернуться в профиль</h3></a>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="content">
            <a class="to_back" href="{% url 'index' %}"><p>Вернуться назад</p></a>
            <div class="image_detail_block">
                <h3>Вы не вошли в аккаунт</h3>
                <a href="{% url 'login' %}"><h3>войти</h3></a>
            </div>
        </div>
    {% endif %}
{% endblock %}