{% extends "base.html" %}
{% block title %}Профиль {% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="profile_content">
            <div class="top_bar">
                <h2>Добро пожаловать {{ user.get_username }}</h2>
                <a href="{% url 'index' %}">На главную страницу</a>
                <a href="{% url 'to_logout' %}">выйти из аккаунта</a>
            </div>
            <div class="main_bar">
                <div class="user_avatar_and_name">
                    <div class="user_avatar">
                        <a href="{% url 'image-list' %}"><img src="{% static 'app/img/' %}{{ profile.avatarlink }}"
                                                              alt="{{ user.get_username }} avatar"></a>
                    </div>
                    <h3>{{ user.get_username }}</h3>
                    {% if perms.app.worker %}
                        <a href="{% url 'admin_profile' %}">Войти в панель работника</a>
                    {% endif %}
                </div>
                <div class="user_information">
                    <a href="{% url 'login_change' %}"><p>{{ user.get_username }}</p></a>
                    <a href="{% url 'password_change' %}"><p>Сменить пароль</p></a>
                    <div>
                        {% if user.first_name %}
                            <a href="{% url 'first_name_change' %}"><p>{{ user.first_name }}</p></a>
                        {% else %}
                            <a href="{% url 'first_name_change' %}"><p>У вас не указано имя.</p></a>
                        {% endif %}

                        {% if user.last_name %}
                            <a href="{% url 'last_name_change' %}"><p>{{ user.last_name }}</p></a>
                        {% else %}
                            <a href="{% url 'last_name_change' %}"><p>У вас не указана фамилия.</p></a>
                        {% endif %}

                        {% if profile.patronymic %}
                            <a href="{% url 'patronymic_change' %}"><p>{{ profile.patronymic }}</p></a>
                        {% else %}
                            <a href="{% url 'patronymic_change' %}"><p>У вас не указано отчество.</p></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'email_change' %}"><p>{{ user.email }}</p></a>
                    <p>
                        {% if perms.app.worker %}
                            Вы - работник
                        {% else %}
                            Вы - зарегестрированный пользователь
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="profile_content">
            {% if perms.app.user %}
                <div class="top_bar">
                    <h2>Мои заявки ({{ user.get_username }})</h2>
                    <a href="{% url 'create_new_application' %}">Создать новую заявку</a>
                </div>

                <div class="filter_content">
                    <p>Фильтрация по статусу</p>
                    <a href="{% url 'profile' %}">Все заявки</a>
                    <a href="{% url 'profile_filtered' status='n' %}">Новая заявка</a>
                    <a href="{% url 'profile_filtered' status='w' %}">Принята в работу</a>
                    <a href="{% url 'profile_filtered' status='c' %}">Выполнена</a>
                    <a href="{% url 'profile_filtered' status='r' %}">Отклонена</a>
                </div>

                <div class="application_list">
                    {% if application_on_page %}
                        {% for applications in application_on_page %}
                            <a href="{{ applications.get_absolute_url }}">
                                <div class="application">
                                    <div class="application_title_content"><h3>{{ applications.title }}</h3>
                                        <p>({{ applications.date }})</p></div>
                                    <div class="application_image_content"><img src="{{ applications.image.url }}"
                                                                                alt="{{ applications.title }} image">
                                    </div>
                                    <div class="application_info">
                                        <p>Статус - {{ applications.get_status_display }}</p>
                                        <p>Категория - {{ applications.categories.category_full_name }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет заявок</p>
                    {% endif %}
                </div>
                <div class="pagination">
                    <div class="paginator_content">
                        {% if application_on_page.has_previous %}
                            <a href="?page={{ application_on_page.previous_page_number }}">предыдущая</a>
                        {% endif %}
                        <a href="?page=1">Страница {{ application_on_page.number }} из {{ paginator.num_pages }}</a>
                        {% if application_on_page.has_next %}
                            <a href="?page={{ application_on_page.next_page_number }}">следующая</a>
                        {% endif %}
                    </div>
                </div>
            {% else %}

                <div class="top_bar">
                    <h2>Мои заявки ({{ user.get_username }})</h2>
                    <div class="filter_content">
                        <p>Фильтрация по статусу</p>
                        <a href="{% url 'profile' %}">Все заявки</a>
                        <a href="{% url 'profile_filtered' status='n' %}">Новая заявка</a>
                        <a href="{% url 'profile_filtered' status='w' %}">Принята в работу</a>
                        <a href="{% url 'profile_filtered' status='c' %}">Выполнена</a>
                        <a href="{% url 'profile_filtered' status='r' %}">Отклонена</a>
                    </div>
                </div>
                <div class="application_list">

                    {% if application_on_page %}
                        {% for applications in application_on_page %}
                            <a href="{{ applications.get_absolute_url }}">
                                <div class="application"
                                        {% if applications.status == 'n' %}
                                     style='color: red'
                                        {% else %}
                                     style='color: green'
                                        {% endif %}
                                >
                                    <div class="application_title_content"><h3>{{ applications.title }}</h3>
                                        <p>({{ applications.date }})</p></div>
                                    <div class="application_image_content"><img src="{{ applications.image.url }}"
                                                                                alt="{{ applications.title }} image">
                                    </div>
                                    <div class="application_info">
                                        <p>Статус - {{ applications.get_status_display }}</p>
                                        <p>Категория - {{ applications.categories.category_full_name }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>Заявок нет</p>
                    {% endif %}
                </div>
                <div class="pagination">
                    <div class="paginator_content">
                        {% if application_on_page.has_previous %}
                            <a href="?page={{ application_on_page.previous_page_number }}">предыдущая</a>
                        {% endif %}
                        <a href="?page=1">Страница {{ application_on_page.number }} из {{ paginator.num_pages }}</a>
                        {% if application_on_page.has_next %}
                            <a href="?page={{ application_on_page.next_page_number }}">следующая</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

    {% else %}
        <div class="content">
            <a class="to_back" href="{% url 'index' %}"><p>Вернуться назад</p></a>
            <div class="image_detail_block">
                <h3>Вы не вошли в аккаунт</h3>
                <a href="{% url 'login' %}"><h3>войти</h3></a>
            </div>
        </div>
    {% endif %}
{% endblock %}