{% extends "base.html" %}
{% block title %}Профиль {% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="profile_content">
            <div class="top_bar">
                <h2>Добро пожаловать {{ user.get_username }}</h2>
                <a href="{% url 'to_logout' %}">выйти из аккаунта</a>
            </div>
            <div class="main_bar">
                <div class="user_avatar_and_name">
                    <div class="user_avatar">
                        <a href="{% url 'image-list' %}"><img src="{% static 'app/img/' %}{{ profile.avatarlink }}" alt="{{ user.get_username }} avatar"></a>
                    </div>
                    <h3>{{ user.get_username }}</h3>
                </div>
                <div class="user_information">
                    <a href=""><p>{{ user.get_username }}</p></a>
                    <a href=""><p>Сменить пароль</p></a>
                    <div><a href=""><p>{{ user.first_name }}</p></a> <a href=""><p>{{ user.last_name }}</p></a></div>
                    <a href=""><p>{{ user.email }}</p></a>
                    <p>
                        {% if  user.groups == 'auth.Group.None' %}
                            {{ user.groups }}
                        {% else %}
                            у вас нет группы
                        {% endif %} 
                    </p>
                    <p>{{ user.get_user_permissions }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <a class="to_back" href="{% url 'index' %}"><p>Вернуться назад</p></a>
            <div class="image_detail_block">
                <h3>Вы не вошли в аккаунт</h3>
                <a href="{% url 'login' %}"><h3>войти</h3></a>
            </div>
        </div>
    {% endif %}
{% endblock %}