{% extends "base.html" %}
{% block title %}Профиль {% endblock %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="profile_content">
            <div class="top_bar">
                <h2>Добро пожаловать {{ user.get_username }}</h2>
                <a href="{% url 'to_logout' %}">выйти из аккаунта</a>
            </div>
            <div class="main_bar">
                <div class="user_avatar_and_name">
                    <div class="user_avatar">
                        <a href="{% url 'image-list' %}"><img src="{% static 'app/img/' %}{{ profile.avatarlink }}"
                                                              alt="{{ user.get_username }} avatar"></a>
                    </div>
                    <h3>{{ user.get_username }}</h3>
                    {% if perms.app.worker %}
                    	<a href="{% url 'admin_profile' %}">Войти в панель работника</a>
                    {% endif %}
                </div>
                <div class="user_information">
                    <a href="{% url 'login_change' %}"><p>{{ user.get_username }}</p></a>
                    <a href="{% url 'password_change' %}"><p>Сменить пароль</p></a>
                    <div>
                        {% if user.first_name %}
                            <a href="{% url 'first_name_change' %}"><p>{{ user.first_name }}</p></a>
                        {% else %}
                            <a href="{% url 'first_name_change' %}"><p>У вас не указано имя.</p></a>
                        {% endif %}

                        {% if user.last_name %}
                            <a href="{% url 'last_name_change' %}"><p>{{ user.last_name }}</p></a>
                        {% else %}
                            <a href="{% url 'last_name_change' %}"><p>У вас не указана фамилия.</p></a>
                        {% endif %}

                        {% if profile.patronymic %}
                            <a href="{% url 'patronymic_change' %}"><p>{{ profile.patronymic }}</p></a>
                        {% else %}
                            <a href="{% url 'patronymic_change' %}"><p>У вас не указано отчество.</p></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'email_change' %}"><p>{{ user.email }}</p></a>
                    <p>
                        {% if perms.app.worker %}
                            Вы - работник
                        {% else %}
                           Вы - зарегестрированный пользователь
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <a class="to_back" href="{% url 'index' %}"><p>Вернуться назад</p></a>
            <div class="image_detail_block">
                <h3>Вы не вошли в аккаунт</h3>
                <a href="{% url 'login' %}"><h3>войти</h3></a>
            </div>
        </div>
    {% endif %}
{% endblock %}